<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script type="text/javascript">        
        function ChangeLanguage() {
            var lang = $("#cmbLanguage").val();
            var url = "@Url.Action("ChangeLanguage", "Home")";
            var returnUrl = window.location;
            window.location.replace(url + "?language=" + lang + "&returnUrl=" + returnUrl);
        }
    </script>
    
    @{ 
        var langCookie = Request.Cookies["culture"];
        var lang = "en";
        if (langCookie != null)
        {
            lang = langCookie.Value;
        }
        var user = new EmployeeApplicationSystem.Models.ViewModels.LoginViewModel();
        if (Request.IsAuthenticated)
        {
            user = Newtonsoft.Json.JsonConvert.DeserializeObject<EmployeeApplicationSystem.Models.ViewModels.LoginViewModel>(User.Identity.Name);
        }
     }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    }
                    else
                    {
                        <li><a>@Resource.Hello: @user.FirstName</a></li>
                        <li>@Html.ActionLink("LogOut", "Logout", "Account")</li>
                        if (user.UserTypeEnumerator == BusinessLogic.Enumerators.UserTypeEnum.Applicant)
                        {
                            <li>@Html.ActionLink("My job applications", "Index", "Application")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("My job applicants", "Index", "Application")</li>
                        }
                    }
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <form class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <select id="cmbLanguage" name="lenguaje" class="form-control" onchange="ChangeLanguage()">
                                    @foreach (var item in EmployeeApplicationSystem.MultilanguageManager.AvaliableLanguages)
                                    {
                                        var texto = string.Empty;
                                        if (lang == item.Culture)
                                        {
                                            texto = "selected='selected'";
                                        }
                                        <option value="@item.Culture" @texto>@item.FullLanguageName</option>
                                    }
                                </select>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.bootstrap.wizard.js"></script>
    <script src="~/Scripts/jquery.bootstrap.wizard.min.js"></script>
    
    
    
    
    <script> 

        $(document).ready(function () {
            $('#rootwizard').bootstrapWizard({ 'nextSelector': '.button-next', 'previousSelector': '.button-previous' });
        });


    </script>

 @RenderSection("scripts", required: false)
</body>
</html>
