@model BusinessLogic.BusinessModels.ApplicationBusinessModel

@{
    ViewBag.Title = "Details";
}

<h2>Details whit all fields of Application (Need to better)</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TodayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TodayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionHired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionHired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdittionalServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdittionalServices)
        </dd>

               <dt>
            @Html.DisplayNameFor(model => model.AdittionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdittionalInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buildings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buildings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestrictedAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestrictedAccess)
        </dd>    

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
