@model IEnumerable<BusinessLogic.BusinessModels.ApplicationBusinessModel>

@{
    ViewBag.Title = "My Applications";
}
<br /><br />
<h2>My Applications</h2> <br /><br /><br />

<p>
    @Html.ActionLink("Create New", "RegisterNewApplication")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ApplicationID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PositionHired)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TodayDate)
        </th>

     
        <th></th>
    </tr>

@foreach (var item in Model.AsEnumerable()) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionHired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TodayDate)
        </td>
            
        <td>          
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationID })
        </td>
    </tr>
}

</table>
