@model DataAccess.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TodayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TodayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionHired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionHired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Services)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Services)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AditionalServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AditionalServices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AditionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AditionalInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
